{% extends 'layout.html' %} {% block title %}My Page{% endblock %} {% block head %} {% parent %}
<link href="../css/index.css" rel="stylesheet" type="text/css">
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- 不再使用System.js <script src="https://cdn.bootcss.com/systemjs/0.20.19/system.js"></script> -->
<script src="https://cdn.bootcss.com/x-tag/1.5.11/x-tag-core.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../scripts/indexadd.js" type="text/javascript"></script>
<script src="../scripts/tags.js" type="text/javascript"></script>
{% endblock %} {% block content %}

<div class="wrapper">
    <x-praise></x-praise>
    <!-- <div class="hand" id="hand">
        <div class="finger"></div>
        <div class="finger"></div>
        <div class="finger"></div>
        <div class="finger"></div>
        <div class="finger thumb"></div>
        <div class="arm"></div>
    </div>
    <span class="hide" id="animation">+1</span> -->
</div>
<!-- <script src="scripts/lib-es.js" type="text/javascript" ></script> -->
<!-- 通过System.js加载lib-es.js -->

<!-- 不再使用System.js <script type="text/javascript">
SystemJS.config({
    baseURL: '/scripts'
});
// 引入需要的文件
// // 文件加载需在服务器上运行
SystemJS.import('lib.js').then(function(m) { // 得到lib-es.js文件
    $.extend({ // 将方法挂载到 jQuery
        thumb: m.default.Thumb, // 得到lib-es.js文件的 export default {Thumb} 模块
    });
    callBack();
});

function callBack() {
    var f = new $.thumb(0, $('#hand')); // 实例化挂载到jQuery上的方法
    f.clickAction(); // 调用真正需要的函数
}
</script> -->
{% endblock %}